.refPage {
    position: absolute;
    top: 150px;
    right: 400px;
}
.CreatePage {
    position: absolute;
    top: 80px;
    right: 380px;
}
.LoginPage {
    position: absolute;
    top: 150px;
    right: 380px;
}
.picture{
    position: absolute ;
    top: 70px;
    left: 450px;
}
a, label{
    text-decoration: none;
    color: rgb(50, 50, 230);
    font-size: 110%;
}
a:hover {
    color: rgb(255, 150, 0);
}
input {
    width: 260px;
    height: 35px;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid rgb(50, 50, 240);
    border-radius: 10px;
}

input.sing_in, input.logout {
    width: 160px;
}
input[type=checkbox]{
    width: 15px;
    margin: 5px 10px;
}

input[type=submit]{
    color: white;
    text-decoration: none;
    font-size: 100%;
    user-select: none;
    background: rgb(50, 50, 240);
    padding: .3em 3em;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
input[type=submit]:hover{
    background: rgb(50, 50, 180);
}
input[type=submit]:active{
    background: rgb(40, 40, 140);
}
select {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 240);
}


