.refPage {
    position: absolute;
    top: 150px;
    right: 400px;
}
.CreateUserPage {
    position: absolute;
    top: 80px;
    right: 380px;
}
.picture{
    position: absolute ;
    top: 70px;
    left: 450px;
}
a.text {
    text-decoration: none;
    color: rgb(51, 51, 204);
    font-size: 110%;
}
a.text:hover {
    color: rgb(255, 153, 0);
}
a.button{
    color: white; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    font-size: 110%;
    user-select: none; /* убирать выделение текста */
    background: rgb(51, 51, 204); /* фон кнопки */
    padding: .3em 3em; /* отступ от текста */
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
a.button:hover {
    background: rgb(46, 46, 184);
} /* при наведении курсора мышки */
a.button:active {
    background: rgb(36, 36, 143);
} /* при нажатии */
input {
    width: 260px;
    height: 35px;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid rgb(51, 51, 204);
    border-radius: 10px;
}
input[type=submit]{
    background: rgb(51, 51, 204);
    color: white;
}
select {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(51, 51, 204);
}

